<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procesamiento de Facturas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <div class="container">
        <h1>Procesamiento de Facturas</h1>
        <p>Haz clic en el botón para procesar las facturas:</p>
        <form action="/process_invoice" method="GET">
            <button type="submit" class="button">Enviar Facturas a Alegra</button>
        </form>
    </div>
</body>
</html>